* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cream);
}

:root {
    --healthyGreen: #89912E;
    --sunnyYellow: #F7C272;
    --fakeBlack: #414141;
    --cream: #FBF5E9;

    --smSpacer: 1.5rem;
    --mdSpacer: 3rem;
    --lrgSpacer: 6rem;
    --xlSpacer: 9rem;
}

li {
    cursor: pointer;
}

.checker {
    cursor: pointer;
    color: lightgrey;
    text-decoration: line-through;
}

/* styling til navbar */
nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
padding-left: var(--smSpacer);
padding-right: var(--smSpacer);

    
}

nav a {
    color: var(--fakeBlack);
    padding: var(--smSpacer);
  text-align: center;
  text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 5px;

}

input {
    width: 15%;
    float: right;
    padding: 0;
    border-radius: var(--smSpacer);
    margin: var(--smSpacer);
    border: 1px solid var(--fakeBlack);
    height: var(--mdSpacer);
    text-align: center;
    background-color: white;
}

.navbar img {
    width: var(--xlSpacer);
    float: left;

}
.active {

    color: var(--fakeBlack);
        text-decoration: underline;
}

/* hr styling */
header hr{
    margin-left: var(--smSpacer);
    margin-right: var(--smSpacer);
}