*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cream);
}

:root{
    --healthyGreen: #89912E;
    --sunnyYellow: #F7C272;
    --fakeBlack: #414141;
    --cream: #FBF5E9;

    --smSpacer: 1.5rem;
    --mdSpacer: 3rem;
    --lrgSpacer: 6rem;
    --xlSpacer: 9rem;
}

li{
    cursor: pointer;
}

.checker{
    cursor: pointer;
    color: lightgrey;
    text-decoration: line-through;
}

/* styling til navbar */
.navbar{
    align-items: center;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr, 2fr;
    grid-template-rows: 1fr;
}
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 17px;
}
.Searchbar input{
    float: right;
}