* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cream);
}

:root {
    --healthyGreen: #89912E;
    --sunnyYellow: #F7C272;
    --fakeBlack: #414141;
    --cream: #FBF5E9;

    --smSpacer: 1.5rem;
    --mdSpacer: 3rem;
    --lrgSpacer: 6rem;
    --xlSpacer: 9rem;
}

li {
    cursor: pointer;
}

.checker {
    cursor: pointer;
    color: lightgrey;
    text-decoration: line-through;
}


/* styling til navbar */
nav {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    padding-left: var(--smSpacer);
    padding-right: var(--smSpacer);
    
    
}

nav a {
    color: var(--fakeBlack);
    padding: var(--smSpacer);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 5px;
    
}

input {
    width: 15%;
    float: right;
    padding: 0;
    border-radius: var(--smSpacer);
    margin: var(--smSpacer);
    border: 1px solid var(--fakeBlack);
    height: var(--mdSpacer);
    text-align: center;
    background-color: white;
}

.navbar img {
    width: var(--xlSpacer);
    float: left;
    
}
.active {
    
    color: var(--fakeBlack);
    text-decoration: underline;
}

.searchBarContainer{
    position: relative;
    max-width: 20%;
}

.searchBarContainer input{
    width: 100%;
    border-radius: var(--smSpacer);
}

  .searchBarContainer i {
      position: absolute;
      top: 50%;
      left: 130px;
      transform: translateY(-50%);
      color: var(--fakeBlack);
      background-color: #FFF;
  }

/* hr styling nav*/
header hr{
    margin-left: var(--smSpacer);
    margin-right: var(--smSpacer);
}
/* forside hero og velkommen tekst */
#Hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--smSpacer);
}

.velkommenText{
    max-width: 50%;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: var(--smSpacer);

}
.velkommenText h1{
    margin-bottom: 15px;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0;
}
.velkommenText p{
    max-width: 75ch;
    font-size: 1.625;
    margin: 0;
    line-height: 1.5;
    text-align: left;

}
/* styling af FET */
.FET{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--smSpacer);
    cursor: pointer;
    padding-left: auto;
    margin-right: auto;
}
.FET figcaption{
    display: flex;
    justify-content: center;
        margin-bottom: 15px;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0;
}
.FETsection h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* button styling */

/* Footer */
footer{
    padding: var(--smSpacer);
}
.footerText{
    text-align: center;
    display: flex;
    justify-content: space-between;
}
/* button styling */
.button{
    background-color: var(--healthyGreen);
    color: white;
    padding-left: var(--lrgSpacer);
    padding-right: var(--lrgSpacer);
    padding-top: var(--smSpacer);
    padding-bottom: var(--smSpacer);
    cursor: pointer;
    border-radius: 10rem;
    font-size: var(--smSpacer);
    align-items: center;
    margin-top: var(--mdSpacer);
    max-width: 20rem;
}
.ButtonLowOp{
        /* background-color: var(--healthyGreen); */
            color: var(--fakeBlack);
            padding-left: var(--mdSpacer);
            padding-right: var(--mdSpacer);
            padding-top: 1rem;
            padding-bottom: 1rem;
            cursor: pointer;
            border-radius: 10rem;
            font-size: 1.5rem;
            /* align-items: center; */
            margin-top: var(--mdSpacer);
            margin-bottom: var(--xlSpacer);
            max-width: 15rem;

}
/* select styling */
select{
    background-color: var(--cream);
    color: var(--fakeBlack);
    border: 1px solid var(--fakeBlack);
    padding: 0.5rem;
    border-radius: 10rem;
    font-size: 1.2rem;
    margin-top: var(--smSpacer);
    margin-bottom: var(--smSpacer);
    width: 20%;
    text-align: center;
    cursor: pointer;
}
.filter{
    text-align: center;
}
/* on page seach styling */
.pageSearchBar{
display: flex;
justify-content: center;
padding-bottom: 0;
margin: auto;

}
.filterButton{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
